.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1); /* Background color with transparency */
}

.about-content {
  max-width: 50vw;
  padding: 3%;

  
  text-align: center;
  color: rgb(8, 8, 8);
  background-color: rgb(241, 243, 244 ,0.6);
}
@media (max-width: 700px) {
  .about-content {
    width: auto; 
    height: max-content;
    max-width: none; 
    margin: 8px;
    padding: auto;
    
    
    
  }
  p {
    padding: auto;

  };
<<<<<<< HEAD
}
=======
}
>>>>>>> 0b20263a3fb51f9f7cc8606a5b8cd7f3a4e8b266
